.upper-header-DBR4 {

    background-color: rgb(59, 105, 120, 0.7);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

}

.top-line-DBR4 {

    border: 3px solid rgba(32, 64, 81, 1);
    width: 100%;

}

.lower-header-DBR4 {

    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;

}

.line-DBR4 {

    margin-left: -18px;
    margin-right: -18px;
    margin-top: 10px;
    border-color: #204051;
    border-style: solid;
    border-width: 2px;

}

.border-DBR4 {

    padding-top: 7px;
    margin-left: -18px;
    margin-right: -18px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    background-color: #204051;
    position: relative;
    left: 0px;
    width: 200px;
    height: 40px;
    background: #204051;
    padding-left: 10px;

}

.border-DBR4:before {

    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 40px 0px 0px;
    transform: rotate(180deg);
    border-color: transparent #204051 transparent transparent;
    position: absolute;
    top: 0px;
    margin-left: 190px;

}