.cover-photo-FTQNA1 {
    max-width: 100%;
    display: block;
    height: auto;
}

.upper-header-FTQNA1 {
    background-color: rgba(13, 13, 13, 0.7);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.border-FTQNA1 {
    background-color: #D9D9D6;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}