.upper-header-FTQNA2 {
    background-color: rgba(13, 13, 13, 0.7);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.border-FTQNA2 {
    background-color: #FFFF9C;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.cover-photo-FTQNA2 {
    max-width: 100%;
    display: block;
    height: auto;
}