.cover-photo-FTQNA4 {
    max-width: 100%;
    display: block;
    height: auto;
}

.upper-header-FTQNA4 {
    background-color: rgba(13, 13, 13, 0.7);
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.border-FTQNA4 {
    background-color: #FF6E6E;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}