.cover-photo-FTQNA3 {
    max-width: 100%;
    display: block;
    height: auto;
}

.upper-header-FTQNA3 {
    background-color: rgba(13, 13, 13, 0.7);
    width: 100%;
    padding-top : 10px;
    padding-left : 10px;
    padding-bottom: 10px;
}

.border-FTQNA3 {
    background-color: #95FF9A;
    padding-top : 10px;
    padding-left : 10px;
    padding-bottom: 10px;
}