.upper-header-SPD1 {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.lower-header-SPD1 {
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    color: #FF4081;
}

.border-SPD1 {
    position: relative;
    background: #00cece;
    line-height: 20px;
    border-radius: 70px 70px 70px 70px;
    margin-left: 16px;
    margin-right: -18px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    text-align: center;
}
 

